<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="shadow-lg w-80 p-4 flex flex-col bg-white rounded-lg">
    <%= f.text_field :login, class:"mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500", hide_label: true,
        placeholder:"N° de telephone ou Adresse Email" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500",
        placeholder:"Mot de passe" %>
    <%= f.submit "Connexion", class:"w-full bg-blue-500 text-white p-3 rounded-lg font-semibold text-lg" %>
    
    <a class="text-blue-400 text-center my-2">Mot de passe oublie?</a>
    <hr />
       Inscrivez-vous gratuitement, C'est simple
       <%= link_to accounted_student_path  do %> 
        <button class="w-full bg-green-400 mt-8 mb-4 text-white p-3 rounded-lg
                font-semibold text-lg">Inscription élève</button>
                <a href="#" class="text-red-500 text-center my-2">Devenir Prof Partenaire</a>
       <% end %>
  </div>
<% end %>